body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.game-container {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.score {
  display: flex;
  justify-content: space-around;
}

#info {
  font-size: 1.8rem;
  padding: 50px 0;
}

#stage {
  margin-bottom: 50px;
}

.show {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

#stage div {
  width: 100px;
  height: 100px;
}

.choiced {
  font-size: 5rem;
  padding: 0 40px;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.choice {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
}

.reset-button {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
}


.choice:hover {
  transform: scale(1.1);
}

#choice-container {
  margin-top: 36px;
}

#message {
  min-height: 22px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  padding: 16px;
}

.left-choose-animated {
  animation: fadeSlideInRight 0.8s ease-in-out;
}

.right-choose-animated {
  animation: fadeSlideInLeft 0.8s ease-in-out;
}

.left-fight-animated {
  animation: fightFromLeft 1s ease-in-out forwards;
}

.right-fight-animated {
  animation: fightFromRight 1s ease-in-out forwards;
}

.right-lose-animated {
  animation: fadeSlideOutRight 1s ease-in-out forwards;
}

.left-lose-animated {
  animation: fadeSlideOutLeft 1s ease-in-out forwards;
}

.pulsing-animated {
  animation: zoomInOut 1s ease-in-out infinite;
}

/* Slide in animation */
@keyframes fadeSlideInRight {
  0% {
      transform: translateX(-50%) scale(1);
      opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
      transform: translateX(0) scale(1);
      opacity: 1;
  }
}

/* Slide in animation */
@keyframes fadeSlideInLeft {
  0% {
    transform: translateX(50%) scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
      transform: translateX(0) scale(1);
      opacity: 1;
  }
}

@keyframes fightFromLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes fightFromRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeSlideOutRight {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(40%) rotate(360deg) scale(0);
  }
}

@keyframes fadeSlideOutLeft {
  0% {
    transform: translateX(50%) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-40%) rotate(-360deg) scale(0);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
